/**
 * Covid-19 Sniffer
 * This documentation was created to help developers use the Covid 19 Sniffer Resource.
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.model.Body
import io.swagger.client.model.Body1
import io.swagger.client.model.InlineResponse200
import io.swagger.client.model.User
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object AuthenticationApi {

  /**
   * This should be used to add a new user to the platform by an admin. This feature is not available to unauthrized users.
   * 
   * Expected answers:
   *   code 200 : User (successful operation)
   *              Headers :
   *                Authorization - Access token received after login 
   * 
   * @param authorization Bearer ${access_token}
   * @param body 
   */
  def registerUser(authorization: String, body: Option[Body] = None): ApiRequest[User] =
    ApiRequest[User](ApiMethods.POST, "https://covid-19-sniffer-staging.herokuapp.com/api/v1", "/auth/register", "application/json")
      .withBody(body)
      .withHeaderParam("Authorization", authorization)
      .withSuccessResponse[User](200)
      
  object RegisterUserHeaders { 
    def authorization(r: ApiReturnWithHeaders) = r.getStringHeader("Authorization")
  }
  /**
   * User authentication which generates token
   * 
   * Expected answers:
   *   code 200 : InlineResponse200 (successful operation)
   *   code 400 :  (Invalid User)
   * 
   * @param body 
   */
  def userLogin(body: Option[Body1] = None): ApiRequest[InlineResponse200] =
    ApiRequest[InlineResponse200](ApiMethods.POST, "https://covid-19-sniffer-staging.herokuapp.com/api/v1", "/auth/login", "application/json")
      .withBody(body)
      .withSuccessResponse[InlineResponse200](200)
      .withErrorResponse[Unit](400)
      

}

