/**
 * Covid-19 Sniffer
 * This documentation was created to help developers use the Covid 19 Sniffer Resource.
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.model.InlineResponse2001
import io.swagger.client.model.InlineResponse500
import io.swagger.client.model.User
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object UserApi {

  /**
   * Delete single user account
   * 
   * Expected answers:
   *   code 200 :  (OK)
   * 
   * @param userId 
   * @param authorization 
   */
  def deleteUsersUserId(userId: String, authorization: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, "https://covid-19-sniffer-staging.herokuapp.com/api/v1", "/users/{user_id}", "application/json")
      .withPathParam("user_id", userId)
      .withHeaderParam("Authorization", authorization)
      .withSuccessResponse[Unit](200)
        /**
   * Get all users This feature is adaptive. This means that the response that is returned is based on the admin&#39;s permission and admin type. For example, a country admin will get a response which contains all users within their set country. Likewise, a state admin will get a response containing only users registered within their set state.
   * 
   * Expected answers:
   *   code 200 : Seq[User] (OK)
   *   code 500 : InlineResponse500 (Internal Server Error)
   * 
   * @param authorization Bearer {token}
   * @param include Use this to get values of sub-documents that are mapped to this model
   * @param limit This should be used when trying to fetch a list of documents. Use this to limit the number of items returned by the query. Default value is 10.
   * @param page This is used for pagination. Use this parameter to instruct the endpoint to display values for page N
   */
  def getUsers(authorization: String, include: Option[String] = None, limit: Option[Double] = None, page: Option[Double] = None): ApiRequest[Seq[User]] =
    ApiRequest[Seq[User]](ApiMethods.GET, "https://covid-19-sniffer-staging.herokuapp.com/api/v1", "/users", "application/json")
      .withQueryParam("$include", include)
      .withQueryParam("$limit", limit)
      .withQueryParam("$page", page)
      .withHeaderParam("Authorization", authorization)
      .withSuccessResponse[Seq[User]](200)
      .withErrorResponse[InlineResponse500](500)
        /**
   * Fetch details of a single user
   * 
   * Expected answers:
   *   code 200 : User (OK)
   *   code 500 : InlineResponse500 (Internal Server Error)
   *   code  : User 
   * 
   * @param userId 
   * @param authorization Bearer {token}
   * @param include Use this to get values of sub-documents that are mapped to this model
   */
  def getUsersUserId(userId: String, authorization: String, include: Option[String] = None): ApiRequest[User] =
    ApiRequest[User](ApiMethods.GET, "https://covid-19-sniffer-staging.herokuapp.com/api/v1", "/users/{user_id}", "application/json")
      .withQueryParam("$include", include)
      .withPathParam("user_id", userId)
      .withHeaderParam("Authorization", authorization)
      .withSuccessResponse[User](200)
      .withErrorResponse[InlineResponse500](500)
      .withErrorResponse[User]()
        /**
   * This endpoint handles check in for every user
   * 
   * Expected answers:
   */
  def getVisitationCheckIn(): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://covid-19-sniffer-staging.herokuapp.com/api/v1", "/visitation/check-in", "application/json")
        /**
   * This is used to update a single user&#39;s profile
   * 
   * Expected answers:
   *   code 200 : InlineResponse2001 (OK)
   * 
   * @param userId 
   * @param authorization Bearer {token}
   * @param body 
   */
  def patchUsersUserId(userId: String, authorization: String, body: Option[User] = None): ApiRequest[InlineResponse2001] =
    ApiRequest[InlineResponse2001](ApiMethods.PATCH, "https://covid-19-sniffer-staging.herokuapp.com/api/v1", "/users/{user_id}", "application/json")
      .withBody(body)
      .withPathParam("user_id", userId)
      .withHeaderParam("Authorization", authorization)
      .withSuccessResponse[InlineResponse2001](200)
      

}

